.main {
    margin: auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}
.canvas {
    margin: auto;
}
#joyContain1, #joyContain2 {
    width: 200px;
    height: 200px;
    margin: auto;
}
.controller-contain {
    width: 100%;
    display: flex;
    justify-content: space-between;
}